html,body,form{
	padding: 0px;
	margin: 0px;
}
*{
	font-family: "Microsoft YaHei";
	font-weight: normal;
	font-size: 17px;
}
/************Main************/
.mainContainer{
	width:100%;
}
.header{
	background-image: url(http://r.welingo.cn/img/wechat/title_bar.png);
	width:device-width;
	height: 3.5rem;
	line-height: 3.5rem;
	margin: auto;
	text-align: center;
	font-size: 1.5rem;
	color: white;
}
.content{
	border-bottom:  1px solid #D9D9D9;
	min-height: 3.5rem;
	line-height: 3.5rem;
	padding-left: 2rem;
}
.footer{
	background-image: url(http://r.welingo.cn/img/wechat/bottom_btn_1.png);
	background-repeat: no-repeat;
	width:device-width;
	height: 3rem;
	line-height: 3rem;
	margin: auto;
	text-align: center;
	font-size: 1.4rem;
	color: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right:0px;
}
.footer button{
	background:none;
	border:none;
	height: 3rem;
	line-height: 3rem;
}

/*********教师端Main**********/
.homepage_mainbackground{
	height: 100%;
	background-attachment:fixed;
	background-size: 100% 100%;
	background-image: url(http://r.welingo.cn/img/wechat/background_1.png);
	min-height: 820px;
}
.nickname{
	width:device-width;
	height: 4.5rem;
	line-height: 4.5rem;
	margin: auto;
	text-align: center;
}
.studentlist{
	background-image: url(http://r.welingo.cn/img/wechat/studentlist_edge.png);
	margin-bottom: 1rem;
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	width:device-width;
	height: 6rem;
	overflow：hidden;
}
.studentlist table{
	line-height: 2.3rem;
	margin-left:1rem;
	padding-top: 0.6rem;
}
.sl_btn{
	float: right;
	margin-top: 2rem;
	margin-right: 0.6rem;
	height: 1.5rem;
	width: 1rem;
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-image: url(http://r.welingo.cn/img/wechat/studentlist_btn_1.png);
}
/***********教师端-Homework************/
.homework_mainbackground{
	background-image: url(http://r.welingo.cn/img/wechat/background_2.png);
	background-repeat: repeat;
	min-height: 820px;
}
input[type="radio"]{
	margin-right: 0.5rem;
	color: red;
}
#classes{
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 2rem;
}
.choose_select{
	width: 55%;
}
#homework_form{
	margin-top: 0.5rem; 
}
#homework_form label{
	padding-right: 1rem;
}
/*************教师端-班级信息************/
.stu_table{
	line-height:3.5rem;
}
.stu_table td{
	min-width: 3rem;
}
.cl_btn{
	margin-top: 1.1rem;
	margin-right: 1rem;
}
#student_div .content{
	padding-left: 1rem;
}
/************学生详情********/
#Child-info td{
	min-width: 4rem;
	line-height: 3rem;
}
#Child-info-calendar{
	height: 500px;
	width: 100%;
}
#Child-info-calendar-dateTitle{
	margin:1rem auto 0.5rem auto;
	text-align: center;
	width: 100%;
	font-size: 1.3rem;
	font-weight: bold;
}
#Child-info-ability{
	height:350px;
	width: 100%;
	margin-bottom: 1rem;
}
.Progress-Title{
	text-align: center;
	margin: auto;
	font-weight: bold;
	font-size: 1.3rem;
}
.Progress-Content{
	border-top: 1px solid rgba(207, 226, 243,0.5);
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.7rem;
	line-height: 1.5rem;
}
#Process_table td{
	width: 30%;
}
#Process_table tr td:first-child{
	text-align:justify;
	text-align-last:justify;
	padding-right: 1rem;
	width: 40%;
}
.Data_content{
	border-top: 1px solid rgba(207, 226, 243,0.5);
	height:350px;
	width:100%;
}
/************家长/老师绑定页*******/
.Parent_welcome{
	height: 4.5rem;
	line-height: 4.5rem;
	margin-left: 2rem;
}
#Parent_input{
	margin: 0 2rem 2rem 2rem;
	line-height: 2.5rem;
}
#Parent_input input{
	width: 100%;
}
.Teacher_welcome{
	margin: 2rem 2rem 2rem 2rem;
}
/****************班级详情页***************/
.class_content{
	border-bottom:  1px solid #D9D9D9;
	line-height: 2rem;
	margin: auto;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}